:root{
    --main-color:#1ba7a7;
    --main-font-size: 
}
body{
    margin: 0;
    padding: 0;
   font-family: roboto;
}
/* header-1 */
.header{
    display:grid;
    width: 100%;
    height: 160px;
    grid-template-rows: repeat(2,1fr);
}
.header_1{
    background-color: var(--main-color);
    box-shadow: 0 0 2px 0;
    width: 100%;
}
.-header-11{
    display: flex;
    padding:10px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.-header-logo>img{
    height: 1.5rem;
    width: auto;
}
.-search{
    width: 40rem;
    background-color: white;
    border-radius: 3px;
}
.-search>input{
    width: 31rem;
    height: 2.9rem;
    border: none;
    font-size: 1.1rem;
    outline: none;
}
.-search>button{
    font-size: 1.1rem;
    color: black;
    background-color: rgb(249, 204, 3);
    width: 6.87rem;
    height: 3.2rem;
    box-shadow:0 1px 1px 0 rgb(245, 200, 2);
    border-radius:0 2px 2px 0;
    border: none;
    cursor: pointer;
}
.-suppot-center{
    font-size: 1.5rem;
}
.-header-21{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
    font-size: 1.2rem;
}
.-header-Nav-part1>label
   {
    margin-left: 20px;
    cursor: pointer;
   }
.-header-Nav-part2>i{
    margin-left:20px ;
    cursor: pointer;
}   
.-header-Nav-part2>button{
    height: 45px;
    color: var(--main-color);
    border: none;
    background-color: #e3f8f8;
    cursor: pointer;
}
.container_banner_1{
    display: flex;
  align-items: center;
    width: 100%;
    height: 31rem;
    font-size: 1.2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(project-image-1/banner-1.jpg);  
}
.container_banner_1>div{
   margin-left: 100px;
}
.container_banner_1>div>button{
    display: flex;
    height: 40px;
    width: 100px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color:var(--main-color) ;
    border: none;
    box-shadow: 0 2px 4px 0 gray;
    border-radius: 5px;
    cursor: pointer;
}
.container_banner_2{
    display: grid; 
    height: 220px;
    grid-template-columns:repeat(4,1fr) ;
    gap:40px;
    padding: 50px;
}
.box{
    display: flex;
    flex-direction: column;
    background-color: rgb(195, 202, 202);
    border-radius: 10px;
    box-shadow: 0 2px 4px 0;
    font-size: 1.3rem;
    justify-content: center;
}
.box1{
background-image: url(project-image-1/banner-21.jpg);

}
.box2{
    background-image: url(project-image-1/banner-22.jpg);
}
.box3{
background-image: url(project-image-1/banner-23.jpg);
}
.box4{
    background-image: url(project-image-1/banner-24.jpg);
}